<style>
        .StatisticPendaftar h3 {
    font-weight: 600;
    padding: 10px;
    margin: 20px 0 10px;
    background: #2167c7;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
}.StatisticPendaftar tr {
    border-bottom: 1px solid #cdcdcd;
}.StatisticPendaftar td {
    padding: 5px;
    font-size: 16px;
}
</style>
<div class="StatisticPendaftar"><h3>Statistic Pendaftar</h3>
<table style="text-align: center; width: 100%;">
        <tbody>
          
           <tr><td style="text-align: left;"><span style=""><b>Hari Ini:</b></span></td>
          <td id="Harian" style=" text-align: center;"><span>Loading</span>...</td>
        </tr>

  <tr><td style="text-align: left;"><span style=""><b>Kemarin:</b></span></td>
          <td id="Kemarin" style=" text-align: center;"><span>Loading</span>...</td>
        </tr>
<tr><td style="text-align: left;"><span style=""><b>Mingguan Ini:</b></span></td>
          <td id="Mingguan" style=" text-align: center;"><span>Loading</span>...</td>
        </tr>
    
<tr><td style="text-align: left;"><span style=""><b>Total Pendaftaran:</b></span></td>

          <td id="Tahunan" style=" text-align: center;"><span>Loading</span>...</td>

        </tr>
  </tbody></table>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<input type="hidden" id="minggu1"/>
<input type="hidden" id="minggu2"/>
<input type="hidden" id="minggu3"/>
<input type="hidden" id="minggu4"/>
<input type="hidden" id="minggu5"/>
<input type="hidden" id="minggu6"/>
<input type="hidden" id="minggu7"/>
</div>
